Agent Telegram - Dev Nico Perso/workflow/Agent Telegram - Dev Ideas.json
{
  "createdAt": "2025-10-29T09:29:34.295Z",
  "updatedAt": "2025-10-31T20:30:53.638Z",
  "id": "4lYuNSDjiyUjzHWL",
  "name": "Agent Telegram - Dev Ideas",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        100
      ],
      "id": "b40ed837-3076-4cb2-b1e7-4ca565c66a62",
      "name": "Telegram Trigger",
      "webhookId": "dev-ideas-telegram",
      "credentials": {
        "telegramApi": {
          "id": "tecnNETDK9d3pNmM",
          "name": "Telegram Nico Dev (perso)"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.voice !== undefined }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "vocal"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text !== undefined }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -400,
        100
      ],
      "id": "533bbebd-cf9d-48d9-9558-3d4ee1eb9851",
      "name": "Switch: Type d'entrée",
      "notes": "🔀 Route vers vocal OU texte (pas les deux)\n\nallMatchingOutputs: false pour n'exécuter qu'une seule branche"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -200,
        -500
      ],
      "id": "4b3df01b-05bb-411b-98cd-5a6a4f991048",
      "name": "Get Audio File",
      "webhookId": "7acb11bc-c9a3-429e-b6a0-feb3ce4e3ebc",
      "credentials": {
        "telegramApi": {
          "id": "tecnNETDK9d3pNmM",
          "name": "Telegram Nico Dev (perso)"
        }
      },
      "notes": "📥 Récupère le fichier audio vocal de Telegram"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot7665572115:AAFsB-QiTQfwFuPv0gaH31ioDhpxKGVzYjA/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -500
      ],
      "id": "f7bccd68-0fa1-482b-b728-e0f9637472f9",
      "name": "Download Audio"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "fr"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        200,
        -500
      ],
      "id": "58a116b8-6ef1-4c6f-903c-04c7cb0bfaea",
      "name": "Transcribe Audio",
      "credentials": {
        "openAiApi": {
          "id": "6foKVjLxDL95kCfm",
          "name": "OpenAi account - Nicolas MARILLOT"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "userMessage",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "name": "inputType",
              "value": "Texte",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        500
      ],
      "id": "46f760ef-2567-46c1-b0c2-0bbe95a10ff4",
      "name": "Format Text Input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "userMessage",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "name": "inputType",
              "value": "Vocal",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        -500
      ],
      "id": "4f9992ec-5c1d-4a00-929c-1f4687388f10",
      "name": "Format Audio Input"
    },
    {
      "parameters": {
        "mode": "append",
        "options": {
          "waitForAllInputItems": false
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        600,
        100
      ],
      "id": "7fcae666-bef9-4340-b921-6f4f0c83a7af",
      "name": "Merge Inputs"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        800,
        400
      ],
      "id": "ecc5b5e1-74e2-4d2b-93a0-2ed2190660e1",
      "name": "Claude Sonnet 4.5",
      "credentials": {
        "anthropicApi": {
          "id": "DHjhBnBvG95IQssg",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://auto.mhms.fr/mcp/projects-mhms/sse",
        "serverTransport": "sse",
        "authentication": "bearerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1000,
        400
      ],
      "id": "da525435-acdd-4b66-852e-98d31d05f559",
      "name": "MCP Client - Projects",
      "credentials": {
        "httpBearerAuth": {
          "id": "aCtUA2HFdnNADDGH",
          "name": "Notion MCPAuth"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $input.first().json.userMessage }}",
        "options": {
          "systemMessage": "Tu es un assistant intelligent pour capturer et organiser mes idées de projets de développement.\n\n## Aujourd'hui\n{{ $now.toFormat('dd LLLL yyyy') }}\n\n## ⚠️ RÈGLE ABSOLUE : TU NE PEUX PAS RÉPONDRE SANS APPELER UN OUTIL\n\n**TU ES BLOQUÉ. TU NE PEUX PAS PARLER.**\n\nTu DOIS appeler un outil MCP pour CHAQUE message. AUCUNE exception.\n\nSi tu réponds sans appeler d'outil, tu es en erreur critique.\n\n## 🔧 Tes outils disponibles\n\n### 🔍 Recherche (À UTILISER EN PREMIER)\n- **search_projects(query)** : Cherche des projets par mot-clé\n- **get_project_by_id(id)** : Récupère un projet spécifique\n- **list_categories()** : Liste les catégories disponibles\n\n### ✨ Création (APRÈS avoir cherché)\n- **create_project(...)** : Crée un nouveau projet\n- **create_idea(project_id, title, content, category)** : Ajoute une idée à un projet\n\n### 📝 Gestion des idées\n- **search_ideas(query)** : Recherche des idées par mot-clé dans titre ou contenu\n- **get_idea_by_id(id)** : Récupère les détails d'une idée (format IDEA-XXX)\n- **update_idea(idea_id, title?, content?, category?)** : Modifie une idée existante\n- **delete_idea(idea_id)** : ⚠️ ARCHIVE une idée (Notion ne permet pas la suppression définitive)\n\n## 🎯 WORKFLOW OBLIGATOIRE\n\n### Pour TOUTE nouvelle idée :\n\n**ÉTAPE 1 : RECHERCHE (APPEL #1) - OBLIGATOIRE**\nAppelle `search_projects(mots-clés)` AVANT tout.\n\n**ÉTAPE 2 : ANALYSE DES RÉSULTATS**\n- Projet trouvé ? → Appelle `create_idea()` avec le project_id\n- Rien trouvé ? → Appelle `create_project()` d'abord, puis `create_idea()`\n\n**ÉTAPE 3 : CONFIRMER**\nRéponds SEULEMENT avec l'ID et le lien Notion retournés par l'outil.\n\n## ❌ INTERDICTIONS ABSOLUES\n\n- ❌ **JAMAIS répondre sans appeler un outil**\n- ❌ **JAMAIS inventer un ID**\n- ❌ **JAMAIS dire \"j'ai créé\" sans avoir appelé create_project/create_idea**\n- ❌ **JAMAIS confirmer une suppression sans avoir appelé delete_idea**\n- ❌ **JAMAIS dire \"c'est fait\" sans résultat d'outil**\n\n## 🚨 SI TU N'AS PAS D'OUTIL À APPELER\n\nSi l'utilisateur pose une question qui ne nécessite pas d'outil :\n→ Appelle quand même `search_projects(\"\")` pour avoir quelque chose à faire\n→ Puis réponds en expliquant ce que tu peux faire\n\n## 🔥 Format de réponse UNIQUEMENT APRÈS APPEL D'OUTIL\n\n```\n✅ [Action] terminée !\n\nID: [ID retourné par l'outil]\n[Titre]\n\n🔗 [Lien Notion retourné par l'outil]\n```\n\n## ⚠️ VÉRIFICATION AVANT CHAQUE RÉPONSE\n\nAvant de répondre, demande-toi :\n1. ❓ Ai-je appelé un outil MCP ?\n2. ❓ Est-ce que j'invente des informations ?\n3. ❓ Est-ce que j'utilise les données retournées par l'outil ?\n\nSi tu réponds NON à la question 1, tu as échoué.\n\n**Aide-moi à capturer toutes mes idées en UTILISANT TOUJOURS LES OUTILS !**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1000,
        100
      ],
      "id": "16550105-b424-45e9-a1fc-970102556aa8",
      "name": "Agent Dev Ideas"
    },
    {
      "parameters": {
        "jsCode": "// Récupère la réponse de l'agent\nlet output = $input.first().json.output;\n\n// Remplace le markdown standard par la syntaxe WhatsApp/Telegram\noutput = output\n  .replace(/\\*\\*\\*(.+?)\\*\\*\\*/g, '*_$1_*')  // ***gras+italique*** → *_texte_*\n  .replace(/\\*\\*(.+?)\\*\\*/g, '*$1*')        // **gras** → *gras*\n  .replace(/__(.+?)__/g, '_$1_')            // __italique__ → _italique_\n  .replace(/~~(.+?)~~/g, '~$1~');           // ~~barré~~ → ~barré~\n\nreturn [{\n  json: {\n    output: output,\n    chat_id: $('Telegram Trigger').first().json.message.chat.id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        100
      ],
      "id": "d6147723-55f6-4961-8724-ebadc7c0ad66",
      "name": "Format Markdown for Telegram"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        100
      ],
      "id": "f7d9e8f1-2616-48f0-84ea-19e6c8a85d8f",
      "name": "Send Telegram Response",
      "webhookId": "dab97c92-7db8-4057-9ee9-5152291a9f7f",
      "credentials": {
        "telegramApi": {
          "id": "tecnNETDK9d3pNmM",
          "name": "Telegram Nico Dev (perso)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "MEMORY_DEV",
        "contextWindowLength": 60
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1200,
        400
      ],
      "id": "c862975b-99f2-4ec2-a512-a4a811fc2550",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch: Type d'entrée",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Type d'entrée": {
      "main": [
        [
          {
            "node": "Get Audio File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Text Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio File": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Format Audio Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Text Input": {
      "main": [
        [
          {
            "node": "Agent Dev Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Audio Input": {
      "main": [
        [
          {
            "node": "Agent Dev Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet 4.5": {
      "ai_languageModel": [
        [
          {
            "node": "Agent Dev Ideas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client - Projects": {
      "ai_tool": [
        [
          {
            "node": "Agent Dev Ideas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent Dev Ideas": {
      "main": [
        [
          {
            "node": "Format Markdown for Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Markdown for Telegram": {
      "main": [
        [
          {
            "node": "Send Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent Dev Ideas",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ec624993-cbbb-41e1-bcdf-21a7c8abd99e",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-10-29T09:29:34.299Z",
      "updatedAt": "2025-10-29T09:29:34.299Z",
      "role": "workflow:owner",
      "workflowId": "4lYuNSDjiyUjzHWL",
      "projectId": "sxcC7rL7azrL36jR",
      "project": {
        "createdAt": "2025-03-26T08:55:31.477Z",
        "updatedAt": "2025-03-26T08:57:20.238Z",
        "id": "sxcC7rL7azrL36jR",
        "name": "Nicolas MARILLOT <nicolas@mhms.fr>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-03-26T08:55:31.477Z",
            "updatedAt": "2025-03-26T08:55:31.477Z",
            "userId": "ee3e2da2-8691-49b4-bfdc-97b75d75c41c",
            "projectId": "sxcC7rL7azrL36jR",
            "user": {
              "createdAt": "2025-03-26T08:55:30.833Z",
              "updatedAt": "2025-10-31T12:06:48.000Z",
              "id": "ee3e2da2-8691-49b4-bfdc-97b75d75c41c",
              "email": "nicolas@mhms.fr",
              "firstName": "Nicolas",
              "lastName": "MARILLOT",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-03-26T08:57:32.736Z",
                "personalization_survey_n8n_version": "1.84.1",
                "companySize": "<20",
                "companyType": "education",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "wjyuMVry3gJTaFHp",
                "userActivatedAt": 1742983301926,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1761730099343
                },
                "dismissedCallouts": {
                  "preBuiltAgentsModalCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-10-29T09:29:02.108Z",
      "updatedAt": "2025-10-29T09:29:02.108Z",
      "id": "klnAN9eLj5IjzwJc",
      "name": "Agent Claude Code Nico"
    }
  ]
}